
.table {
    /* Change these properties */
    --border: 2px solid black;
    border-radius: 6px;

    /* Don't change these properties */
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
    background: white;
    @apply shadow-[4px_4px_0px_0px_rgba(0,0,0,1)];
}

.table th {
    @apply bg-primary;
    border-bottom: var(--border);
}


.table tr {
 text-align: center;
}

/* Apply a border to the right of all but the last column */
/*.table th:not(:last-child),*/
/*.table td:not(:last-child) {*/
/*    border-right: var(--border);*/
/*}*/

/* Apply a border to the bottom of all but the last row */
.table > thead > tr:not(:last-child) > th,
.table > thead > tr:not(:last-child) > td,
.table > tbody > tr:not(:last-child) > th,
.table > tbody > tr:not(:last-child) > td,
.table > tfoot > tr:not(:last-child) > th,
.table > tfoot > tr:not(:last-child) > td,
.table > tr:not(:last-child) > td,
.table > tr:not(:last-child) > th,
.table > thead:not(:last-child),
.table > tbody:not(:last-child),
.table > tfoot:not(:last-child) {
    border-bottom: var(--border);
}
